 <footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="mb-3 d-flex justify-content-center align-items-center gap-4 flex-wrap">
      <a href="https://www.facebook.com/share/19eQM1H2Ym/" class="text-white d-flex align-items-center gap-1" target="_blank">
        <i class="bi bi-facebook fs-4"></i>
        <span class="d-none d-sm-inline">Cuenta 1</span>
      </a>
      <a href="https://www.facebook.com/share/1AXSsELTCL/" class="text-white d-flex align-items-center gap-1" target="_blank">
        <i class="bi bi-facebook fs-4"></i>
        <span class="d-none d-sm-inline">Cuenta 2</span>
      </a>
      <a href="https://www.tiktok.com/@padlatooo65?_t=ZS-8xVj1EdrSie&_r=1" class="text-white d-flex align-items-center gap-1" target="_blank">
        <i class="bi bi-tiktok fs-4"></i>
        <span class="d-none d-sm-inline">TikTok</span>
      </a>
    </div>
    <p class="mb-0">&copy; 2025 Cursos Seguridad. Página realizada por Landevel.</p>
  </div>
</footer>